.current-link {
    color: #E75A7C;
    text-decoration: underline;
}

#homeImage {
    border-radius: 100px;
}

#homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@keyframes rotating {
    from {

        transform: rotate(0deg);
    }

    to {

        transform: rotate(360deg);
    }
}

.colorSplotch1 {
    z-index: -1;
    display: none;
    background-image: radial-gradient(37.66% 48.2% at 47.64% 52.94%,
            #4c00ff 0%,
            rgba(239, 255, 250, 0) 100%);
    top: 200px;
    right: -300px;
    opacity: 0.7;
    position: fixed;
    width: 1000px;
    height: 500px;
    animation: rotating 7s linear infinite;
}

.colorSplotch2 {
    z-index: -1;
    animation: rotating 7s linear infinite;
    display: none;
    background-image: radial-gradient(37.66% 48.2% at 47.64% 52.94%,
            #f20fa3 0%,
            rgba(239, 255, 250, 0) 100%);
    top: 200px;
    left: -300px;
    opacity: 0.7;
    position: fixed;
    width: 1000px;
    height: 500px
}

.anim {
    animation: sign 4s ease;
    animation-fill-mode: forwards;
}

@media (prefers-reduced-motion) {
    .anim {
        animation: none;
    }

    .colorSplotch1 {
        animation: none;
    }

    .colorSplotch2 {
        animation: none;
    }

}

@keyframes sign {
    to {
        stroke-dashoffset: 0;
    }
}



.sig {
    position: fixed;
    bottom: 20px;
    right: 20px
}

#modal {
    width: 50%;
    height: 500px;
    border: #2C363F solid 3px;
    border-radius: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    display: none;
}

#modal img {
    width: 100%;

    border-radius: 20px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "proxima-nova", sans-serif;
    background-color: #F2F5EA;
}

#main {
    flex-grow: 1;
}

footer {
    margin-top: auto;
    display: flex;
    background-color: #bad5ff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

nav {
    margin-top: auto;
    display: flex;
    background-color: #2C363F;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 6rem;
    font-size: medium;
}

nav a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
    color: aqua;
}

h1 {
    font-size: 44px;
    text-align: center;
}

#now {
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
    place-items: center;
}

#young {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;

}

div#now img {
    width: 100%;
}

div#young img {
    width: 100%;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (min-width: 768px) {
    #homeContainer {

        flex-direction: row;

    }

    .colorSplotch1 {
        display: block;
    }

    .colorSplotch2 {
        display: block;
    }

    #now {
        grid-template-columns: 1fr 1fr;
    }

    div#young img {
        width: 50%;
    }

    nav {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {

    #now {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #young {
        flex-direction: row;
    }

    div#young img {
        width: 15%;
    }

    nav {
        font-size: x-large;
    }
}


div#main img {
    width: 300px;

}

a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
    color: black;
    background-color: white;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;

    text-align: center;
    font-size: 1.2em;
    z-index: 999;
}